@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html,
  body {
    @apply h-full text-black bg-white;
  }
}

@font-face {
  font-family: "Colus Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Colus Regular"),
    url("/fonts/colus/ColusRegular.woff") format("woff");
}
